.App {
  text-align: center;
  margin-left: 20rem;
  margin-right: 20rem;
  background-color: #FFFFFF;
}

.inputfield{
  width: 85%;
  height: 20px;
  padding: 2px;
  margin-top: 2px;
  
}
.inputfiledlebel{
  margin-right:580px ;
}
.namelebel{
  margin-right:548px ;
 }
 .confirmlebel{
  margin-right:492px ;
 }
 .passwordlabel{
  margin-right:555px ;
 }
 .inputcontainer{
  margin-top: 5px;
 }

 .next-btn{
  width: 85%;
  height: 25px;
  padding: 2px;
  margin-top: 2px;
  border: none;
  border-radius: 5px;
  padding: 5px;
 }
 .next-btn:hover{
  background-color: rgb(23, 223, 57);
  border: none;
  border-radius: 5px;
  color: white;
 }

 .previous-btn{
  width: 85%;
  height: 25px;
  padding: 2px;
  margin-top: 2px;
  border: none;
  border-radius: 5px;
  padding: 5px;
 }
 .previous-btn:hover{
  background-color: rgb(14, 15, 15);
  border: none;
  border-radius: 5px;
  color: white;
 }
 .firstnamelabel{
  margin-right: 545px;
 }
 .contactlabel{
  margin-right: 540px;
 }
 .altercontact{
  margin-right: 460px;
 }
 .imagelabel{
  margin-right: 490px;
 }
 .signaturelabel{
  margin-right: 460px;
 }

 .imageinput{
  width: 85%;
  height: 20px;
  padding: 2px;
  margin-top: 2px;
  border: 2px solid rgb(219, 215, 215);
  border-radius: 5px;
  padding: 5px;
 }